* {
  padding: 0;
  margin: 0;
  border: 0; }

/* line 2, ../../../../Documents/mom/#souce/scss/style.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 4, ../../../../Documents/mom/#souce/scss/style.scss */
:focus, :active {
  outline: none; }

/* line 5, ../../../../Documents/mom/#souce/scss/style.scss */
a:focus, a:active {
  outline: none; }

/* line 6, ../../../../Documents/mom/#souce/scss/style.scss */
nav, footer, header, aside {
  display: block; }

/* line 7, ../../../../Documents/mom/#souce/scss/style.scss */
html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #e9e9e9; }

/* line 11, ../../../../Documents/mom/#souce/scss/style.scss */
input, button, textarea {
  font-family: inherit; }

/* line 12, ../../../../Documents/mom/#souce/scss/style.scss */
input::-ms-clear {
  display: none; }

/* line 13, ../../../../Documents/mom/#souce/scss/style.scss */
button {
  cursor: pointer; }

/* line 14, ../../../../Documents/mom/#souce/scss/style.scss */
button::-moz-focus-inner {
  padding: 0;
  border: 0; }

/* line 15, ../../../../Documents/mom/#souce/scss/style.scss */
a, a:visited {
  text-decoration: none; }

/* line 16, ../../../../Documents/mom/#souce/scss/style.scss */
a:hover {
  text-decoration: none; }

/* line 17, ../../../../Documents/mom/#souce/scss/style.scss */
ul li {
  list-style: none; }

/* line 18, ../../../../Documents/mom/#souce/scss/style.scss */
img {
  vertical-align: top; }

/* line 19, ../../../../Documents/mom/#souce/scss/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/* line 21, ../../../../Documents/mom/#souce/scss/style.scss */
body {
  font-family: 'Gabriela', serif; }

/* line 26, ../../../../Documents/mom/#souce/scss/style.scss */
.mood__title, .mood__signature, .family__title {
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
  color: azure; }

/* line 32, ../../../../Documents/mom/#souce/scss/style.scss */
.header__title, .header__text, .header__sub-title {
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
  color: #880404;
  text-shadow: 0px 2px 1px #e9e9e9; }

/* line 39, ../../../../Documents/mom/#souce/scss/style.scss */
.header__title {
  margin: 10px 0px 10px 0px; }

/* line 43, ../../../../Documents/mom/#souce/scss/style.scss */
.header__text {
  margin: 0px 0px 20px 0px; }

/* line 51, ../../../../Documents/mom/#souce/scss/style.scss */
.header__container {
  text-align: center; }

/* line 59, ../../../../Documents/mom/#souce/scss/style.scss */
.header__logo:not(:last-child) {
  margin: 0px 0px 20px 0px; }

/* line 64, ../../../../Documents/mom/#souce/scss/style.scss */
img {
  width: 200px; }

/* line 71, ../../../../Documents/mom/#souce/scss/style.scss */
.header__sub-title {
  margin: 10px 0px 0px 0px; }

/* line 76, ../../../../Documents/mom/#souce/scss/style.scss */
.rose {
  height: 240px; }

/* line 80, ../../../../Documents/mom/#souce/scss/style.scss */
.main {
  background: -webkit-gradient(linear, left top, left bottom, from(blue), color-stop(#e4e1e1), to(black));
  background: linear-gradient(blue, #e4e1e1, black); }

/* line 88, ../../../../Documents/mom/#souce/scss/style.scss */
.mood__title {
  padding: 20px 0px 20px 0px;
  line-height: 25px; }

/* line 93, ../../../../Documents/mom/#souce/scss/style.scss */
.mood__gallery {
  text-align: center; }

/* line 96, ../../../../Documents/mom/#souce/scss/style.scss */
.mood__signature {
  margin: 80px 0px 15px 0px; }

/* line 100, ../../../../Documents/mom/#souce/scss/style.scss */
.mood__photo {
  padding: 10px 0px 20px 0px;
  -webkit-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 0.5s ease 0.5s;
  transition: all 0.5s ease 0.5s; }

/* line 107, ../../../../Documents/mom/#souce/scss/style.scss */
.mood__photo._active {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1; }

/* line 112, ../../../../Documents/mom/#souce/scss/style.scss */
.mood__image:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1); }

/* line 119, ../../../../Documents/mom/#souce/scss/style.scss */
.family__title {
  padding: 50px 0px 20px 0px; }

/* line 125, ../../../../Documents/mom/#souce/scss/style.scss */
body,
html {
  margin: 0px;
  padding: 0px;
  background-image: url("https://external-preview.redd.it/Tf2MC-orVRAI8OL5tjyF4k4H2Q6QLHTWllekGfqdt3c.png?width=960&crop=smart&auto=webp&s=be4ab9a2fa3ca2f7011799377f118a8dbc64aacb");
  background-size: cover; }

/* line 132, ../../../../Documents/mom/#souce/scss/style.scss */
canvas {
  -webkit-filter: blur(1px);
          filter: blur(1px); }

/* line 140, ../../../../Documents/mom/#souce/scss/style.scss */
body,
html {
  height: 100%;
  width: 100%; }

/* line 148, ../../../../Documents/mom/#souce/scss/style.scss */
.container {
  width: 100px;
  height: 300px;
  position: absolute;
  left: 0;
  right: 0;
  top: 350;
  bottom: 0;
  margin: auto;
  -webkit-transform: scale(0.6);
  transform: scale(0.6); }

/* line 163, ../../../../Documents/mom/#souce/scss/style.scss */
.container div {
  position: absolute; }

/* line 166, ../../../../Documents/mom/#souce/scss/style.scss */
.container .glass {
  height: 420px;
  width: 250px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 300px 300px 0px 0px;
  left: -80px;
  top: 550px;
  border-bottom: 15px solid rgba(255, 255, 255, 0.5); }

/* line 177, ../../../../Documents/mom/#souce/scss/style.scss */
.container .glass:after {
  width: 8px;
  background: rgba(255, 255, 255, 0.28);
  content: '';
  position: absolute;
  height: 80px;
  top: 430px;
  border-radius: 100px;
  left: 10px;
  top: 180px; }

/* line 188, ../../../../Documents/mom/#souce/scss/style.scss */
.container .glass:before {
  width: 8px;
  background: rgba(255, 255, 255, 0.28);
  content: '';
  position: absolute;
  height: 15px;
  top: 430px;
  border-radius: 100px;
  left: 10px;
  top: 280px; }

/* line 199, ../../../../Documents/mom/#souce/scss/style.scss */
.container .glow {
  position: absolute;
  width: 170px;
  height: 170px;
  border-radius: 100%;
  border: 1px solid rgba(245, 148, 184, 0.47);
  -webkit-box-shadow: 0px 0px 10px #f594b8;
          box-shadow: 0px 0px 10px #f594b8;
  left: -40px;
  top: 550px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-animation: glowing 2.5s ease-in-out infinite;
  animation: glowing 2.5s ease-in-out infinite; }

/* line 218, ../../../../Documents/mom/#souce/scss/style.scss */
.container .rose-petals > div {
  background: #d52d58;
  width: 45px;
  height: 80px;
  position: absolute;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

/* line 228, ../../../../Documents/mom/#souce/scss/style.scss */
.container .rose-petals > div:nth-child(1) {
  border-radius: 15px;
  left: 20px;
  top: -6px;
  background: #d52d58; }

/* line 234, ../../../../Documents/mom/#souce/scss/style.scss */
.container .rose-petals > div:nth-child(2), .container .rose-petals > div:nth-child(4), .container .rose-petals > div:nth-child(6) {
  border-radius: 0px 30px 0px 30px;
  background: #b81b43;
  left: 0;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right; }

/* line 240, ../../../../Documents/mom/#souce/scss/style.scss */
.container .rose-petals > div:nth-child(3), .container .rose-petals > div:nth-child(5), .container .rose-petals > div:nth-child(7) {
  border-radius: 30px 0px 30px 0px;
  left: 40px;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left; }

/* line 245, ../../../../Documents/mom/#souce/scss/style.scss */
.container .rose-petals > div:nth-child(2) {
  -webkit-animation: openRose2 3s ease-in-out;
  animation: openRose2 3s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  z-index: 5;
  background: #9e183a;
  top: 10px;
  height: 70px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

/* line 260, ../../../../Documents/mom/#souce/scss/style.scss */
.container .rose-petals > div:nth-child(3) {
  -webkit-animation: openRose3 3s ease-in-out;
  animation: openRose3 3s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  z-index: 4;
  background: #9e183a;
  top: 10px;
  height: 70px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

/* line 275, ../../../../Documents/mom/#souce/scss/style.scss */
.container .rose-petals > div:nth-child(4) {
  -webkit-animation: openRose4 3s ease-in-out;
  animation: openRose4 3s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  z-index: 3;
  background: #b81b43;
  top: 5px;
  height: 75px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

/* line 290, ../../../../Documents/mom/#souce/scss/style.scss */
.container .rose-petals > div:nth-child(5) {
  -webkit-animation: openRose5 3s ease-in-out;
  animation: openRose5 3s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  z-index: 2;
  background: #b81b43;
  top: 5px;
  height: 75px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

/* line 305, ../../../../Documents/mom/#souce/scss/style.scss */
.container .rose-petals > div:nth-child(6) {
  -webkit-animation: openRose6 3s ease-in-out;
  animation: openRose6 3s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  z-index: 1;
  background: #c9204b;
  top: "";
  height: "";
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

/* line 320, ../../../../Documents/mom/#souce/scss/style.scss */
.container .rose-petals > div:nth-child(7) {
  -webkit-animation: openRose7 3s ease-in-out;
  animation: openRose7 3s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  z-index: 0;
  background: #c9204b;
  top: "";
  height: "";
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

/* line 335, ../../../../Documents/mom/#souce/scss/style.scss */
.container .rose-leaves > div:nth-last-child(1) {
  width: 55px;
  height: 30px;
  background: #338f37;
  position: absolute;
  top: 550;
  left: 15px;
  border-radius: 100px; }

/* line 346, ../../../../Documents/mom/#souce/scss/style.scss */
.container .rose-leaves > div:nth-child(1) {
  width: 6px;
  height: 230px;
  border: none;
  top: 80px;
  background: #066406;
  left: 40px; }

/* line 354, ../../../../Documents/mom/#souce/scss/style.scss */
.container .thorns > div {
  width: 30px;
  height: 30px;
  background: #066406;
  top: 100px;
  left: 10px; }

/* line 361, ../../../../Documents/mom/#souce/scss/style.scss */
.container .thorns > div:after {
  width: 41px;
  height: 31px;
  border-radius: 100%;
  background: #122139;
  content: "";
  position: absolute;
  left: -12px;
  top: 17px; }

/* line 373, ../../../../Documents/mom/#souce/scss/style.scss */
.container .thorns > div:before {
  width: 41px;
  height: 31px;
  border-radius: 100%;
  background: #122139;
  content: "";
  position: absolute;
  left: -11px;
  top: -11px;
  z-index: 0; }

/* line 386, ../../../../Documents/mom/#souce/scss/style.scss */
.container .thorns > div:nth-child(2) {
  top: 150px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  left: 45px; }

/* line 394, ../../../../Documents/mom/#souce/scss/style.scss */
.container .thorns > div:nth-child(3) {
  top: 180px; }

/* line 397, ../../../../Documents/mom/#souce/scss/style.scss */
.container .thorns > div:nth-child(4) {
  top: 220px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  left: 45px; }

/* line 405, ../../../../Documents/mom/#souce/scss/style.scss */
.container .sparkles {
  bottom: -40px; }

/* line 408, ../../../../Documents/mom/#souce/scss/style.scss */
.container .sparkles > div {
  width: 4px;
  height: 4px;
  border-radius: 100px;
  background: #ff96c0;
  -webkit-box-shadow: 0px 0px 12px 2px #ff4e85;
          box-shadow: 0px 0px 12px 2px #ff4e85;
  bottom: 0;
  opacity: 0;
  -webkit-animation: sparkle 4s ease-in-out infinite;
  animation: sparkle 4s ease-in-out infinite; }

/* line 420, ../../../../Documents/mom/#souce/scss/style.scss */
.container .sparkles > div:nth-child(1) {
  left: 60px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s; }

/* line 426, ../../../../Documents/mom/#souce/scss/style.scss */
.container .sparkles > div:nth-child(2) {
  left: 158px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

/* line 432, ../../../../Documents/mom/#souce/scss/style.scss */
.container .sparkles > div:nth-child(3) {
  left: -22px;
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

/* line 438, ../../../../Documents/mom/#souce/scss/style.scss */
.container .sparkles > div:nth-child(4) {
  left: 10px;
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

/* line 444, ../../../../Documents/mom/#souce/scss/style.scss */
.container .sparkles > div:nth-child(5) {
  left: 177px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s; }

/* line 450, ../../../../Documents/mom/#souce/scss/style.scss */
.container .sparkles > div:nth-child(6) {
  left: -82px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

/* line 456, ../../../../Documents/mom/#souce/scss/style.scss */
.container .sparkles > div:nth-child(7) {
  left: 45px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s; }

/* line 462, ../../../../Documents/mom/#souce/scss/style.scss */
.container .sparkles > div:nth-child(8) {
  left: 74px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s; }

/* line 468, ../../../../Documents/mom/#souce/scss/style.scss */
.container .sparkles > div:nth-child(9) {
  left: -79px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

/* line 477, ../../../../Documents/mom/#souce/scss/style.scss */
.gif {
  text-align: center;
  background-color: #c9204b;
  margin: 10px 0px 0px 0px; }
